/* CSS INI UNTUK MENGATUR TAMPILAN DI HTML */


/* untuk header */
header {
  background-color: #1E90FF;
  align-items: center;
}

#header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  display: flex;
}

#head-nav {
  margin-right: 20px;
}

img {
  width: 50px;
  height: 50px;
  padding-left: 20px;
}

#judul-header {
  color: black;
  padding: 10px;
}


.grid-container {
  display: grid;
}

/* Media Query untuk tampilan responsive  */
/* Untuk Leptop */
@media only screen and (min-width: 900px) {
  header {
    display: flex;
  }

  nav {
    position: absolute;
    right: 50px;
  }

  #content-section {
    grid-column: 2;
    grid-row: 1;
  }

  #article-section {
    grid-column: 3;
    grid-row: 1;
  }
}

/* Untuk Tablet */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  header {
    display: flex;
  }


  nav {
    position: absolute;
    right: 50px;
  }

  #content-section {
    grid-column: 2 / span 2;
    grid-row: 1;
  }

  #article-section {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
}

/* Untuk Hp */
@media only screen and (max-width: 600px) {

  #header-title {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  nav {
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-content: center;
    padding-bottom: 10px;
  }

  #content-section {
    grid-column: 1 / span 3;
    grid-row: 2;
  }

  #article-section {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
}



/* untuk nav atau navigasi */
nav,
a {
  color: white;
}

/* untuk content */
#content-section {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 16px;
}

#content-section2 {
  padding-left: 20px;
  padding-Right: 20px;
  border: 1;
  border-style: solid;
  border-color: #343A40;

}

/* untuk article */
#article-section {
  margin-bottom: 70px;
  background-color: #343A40;
  margin-top: 16px;
  padding: 20px;
  color: white
}

/* Untuk Footer */
footer {
  background-color: black;
  color: #0F80FB;
  padding: 20px;
  /* footer flex */
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  left: 0;
}